.control{
    background-color: transparent;
    border: 1px solid #31d360;
    border-radius: 12px;
    padding: 2px 20px;
}

.control:first-of-type {
    border: 1px solid #31d360;
}

.control:last-of-type {
    border: 1px solid #31d360;
}

.control[data-filter] + .control[data-sort] {
    margin-left: 1.75rem;
}

.control[data-filter=".green"] {
    color: #31d360;
}

.control[data-filter=".blue"] {
    color: #2bb7d8;
}

.control[data-filter=".pink"] {
    color: #d595aa;
}

.control[data-filter="none"] {
    color: #2f2f2f;
}

/* Container
---------------------------------------------------------------------- */
/* 
.container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
} */

/* Grid Items
---------------------------------------------------------------------- */

.item,
.gap {
    display: inline-block;
    vertical-align: top;
}

.item {
    background: #fff;
    /* border-top: .5rem solid currentColor; */
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.item:before {
    content: '';
    display: inline-block;
}
.item.green {
    color: #31d260;
}

.item.pink {
    color: #d595aa;
}

.item.blue {
    color: #5ecdde;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.item,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .item,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .item,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .item,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}


